<div class="container show">
  <h2 class="text-center">Here's your cocktail:</h2>
  <div class="content-wrapper mt-4">
    <div class="row row-cols-2 align-items-center">
      <div class="col">
        <div class="card-category text-center" style="background-image: url('<%= cl_image_path @cocktail.photo.key %>')">
        </div>
      </div>
      <div class="col">
        <h2 class="font-weight-bold"><%= @cocktail.name %></h2>
        <h3>Ingredients:</h3>

        <% if @doses %>
          <% @doses.each do |dose| %>
            <p>
              <%= dose.ingredient.name %> - <%= dose.description %>
              <%= link_to '<i class="fas fa-trash"></i>'.html_safe, dose_path(dose), class: "btn ml-2", id: "standard-btn", method: :delete, data: { confirm: "Are you sure?" } %>
            </p>
          <% end %>
        <% end %>

        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient %>
          <%= f.input :description %>
          <%= f.button :submit, 'Add a Dose', class: 'btn', id: 'standard-btn' %>
        <% end %>

        <div class="mt-2">
          <%= link_to 'Back', cocktails_path, class: "btn", id: "standard-btn" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container review mt-4">
  <h2>Reviews</h2>
  <%= simple_form_for [@cocktail, @review] do |f| %>
          <%= f.input :name %>
          <%= f.input :content %>
          <%= f.button :submit, 'Leave a Review', class: 'btn', id: 'standard-btn' %>
        <% end %>
  <h3 class="text-center mt-4">See what others have to say!</h3>
  <div id="user-reviews">
    <% if @reviews.empty? %>
      <blockquote class="mb-2">
        <p>Oh no! There are no reviews for this cocktail yet!</p>
        <footer>—<cite>A Sad Bartender</cite></footer>
      </blockquote>
    <% else %>
      <% @reviews.each do |review| %>
        <div>
          <blockquote class="mb-2">
              <p><%= review.content %></p>
              <footer>—<cite><%= review.name %></cite></footer>
          </blockquote>
          <hr>
        </div>
      <% end %>
    <% end %>
  </div>
</div>