<div class="container">
  <h1 class="text-center">Here's your cocktail:</h1>
  <br>
  <div class="text-center">
    <img src="<%= @cocktail.image_url %>" alt="<%= @cocktail.name %>" class="rounded" id="cocktail-image">
  </div>
  <p class="text-center font-weight-bold"><%= @cocktail.name %></p>

  <% @doses.each do |dose| %>
    <p class="text-center">
      <%= Ingredient.find(dose.ingredient_id).name %> - <%= dose.description %>
      <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
    </p>
  <% end %>

  <%= link_to 'Add a new Dose', new_cocktail_dose_path(@cocktail) %>
</div>